@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.NavBar{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.Menu-list{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
}

.navbar-right{
    display: flex;
    margin-right: 30px; 
    gap: 40px;
    font-size: 10px;
}

.logo{
    display: flex;
    justify-content: center;
}

#app-logo{
    margin: 0;
    padding: 0;
    width: 150px;
}

#app-name{
    margin: 0;
    padding-top: 65px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    text-decoration: none;
} 
.navbar-right img{
    padding: 20px;
}

#submit_button{
    margin-top: 15px;
    border-width: 50px;
    height: fit-content;
    background-color: transparent;
    border: 1px solid tomato;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

#submit_button:hover{
    background-color: rgb(186, 158, 238);
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    color: red;
}
.Menu-list a{
    cursor: pointer;
    text-decoration: none;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: 15px;
    right: 14px;
}


@media (max-width:1050px){
 
    .Menu-list{
        gap: 10px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-right img{
        width: auto;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media(max-width:750px){

    .Menu-list{
        display: none;     
    }

    .navbar-right{
        width: max-content;
    }
    .logo{
        width: auto;
    }
    #app-logo{
        width: fit-content;
        
    }
    #app-name{
        font-size: 15px;
        padding-left: 0;
        cursor: pointer;
        text-decoration: none;
    }
  
}

@media(max-width:400px){
    .navbar-right img{
        padding: 5px;
    }

    #submit_button{
        margin-top: 5px;
    }
    .navbar-search-icon .dot{
        top: -4px;
        right: -4px;
    }

}

@media (max-width:375px){
    .navbar-search-icon{
        display: none;
    }
    #search{
        display: none;
    }
    
}